<% if logged_in? %>
	<div class="row">
	    <aside class="col-md-3">
	      <section class="user_info">
	        <%= render 'shared/user_info' %>
	      </section>
	    </aside>
	    <div class="col-md-6">
	      <%= render 'shared/post_form' %>
	      <%= render 'shared/feed' %>
	    </div>
	</div>
<% else %>
	<div class="row">
	<div class="center main my-blue my-height">
	  <!-- <h1>iMind</h1>
	  <h2>
	    Be our mind
	  </h2> -->
	  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary col-md-5 col-md-offset-3 force-to-bottom" %>
	</div>
	</div>
<% end %>
