<% provide(:title, 'Log in') %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <h1>Log in</h1>

  <%= form_for :session, url: login_path, class: 'form' do |f| %>

    <div class="form-group">
      <%= f.label :email, class: 'control-label' %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="checkbox">
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        Remember Me
      <% end %>
    </div>

    <div class="form-group text-center">
      <%= f.submit "Log in", class: "btn btn-lg btn-primary" %>
      <div class="margin-div">
        New user? <%= link_to "Sign up now", signup_path %>
      </div>
    </div>

  <% end %>
  </div>
</div>
