header {
  nav {
    border-radius: 0 !important;
    background-color: #cce0ff !important;
  }
  a:active, a:hover, a:visited {
    background-color: #99c2ff !important;
  }
}

.icon {
  width: 20px;
}
