// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
	background-image: image-url("main.jpg");
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 90px;
}

.my-blue {
	color: #003399;
}

.my-height {
	height: 450px;
}

.btn-primary {
  background: #003399;
}

.force-to-bottom {
  position:absolute;
  bottom: 10%;
}
