<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand back" href="/"><%= image_tag "imind.png",  alt: "icon", class: "icon" %>iMind</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right back">
          <% if logged_in? %>
            <li class="<%= active_class(root_path) %>"><%= link_to "Posts feed", root_path, class: "nav-buttons" %></li>
            <li class="<%= active_class(posts_path) %>"><%= link_to "<span class='glyphicon glyphicon-search'></span> Search posts".html_safe, posts_path, class: "nav-buttons" %></li>
            <li class="<%= active_class(users_path) %>"><%= link_to "Users", users_path, class: "nav-buttons" %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li class="<%= active_class(login_path) %>"><%= link_to "Sign in", login_path %></li>
            <li class="<%= active_class(signup_path) %>"><%= link_to "Sign up", signup_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
